__pycache__
.coverage
.coverage.*
.DS_Store
.ipynb_checkpoints
.log
.mypy_cache
.pytest_cache
.venv
.vscode
*.egg-info
*.bin
*.log
*.pyc
*.zip
*/secrets/*
*/temp
*/build
*/videos
build
dist
docker-test-train-out
htmlcov
htmlcov
models