__pycache__
*.pyc
build
dist
.DS_Store
.log
.mypy_cache
.vscode
*.log
.venv
.coverage
.coverage.*
htmlcov
*.egg-info
*.bin
*.zip
docker-test-train-out
htmlcov
QuestionAnswerLog.csv
.coverage
.coverage.*
.log
.mypy_cache
.venv
.vscode
*.log
*.pyc
*/secrets/*
*/temp
*/build
*/videos
.ipynb_checkpoints
models
!tests/fixtures/models
*.bin
*.zip