name: test/build/push
on: push
jobs:
  test:
    name: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: python env setup
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: test format
        run: make test-format
      - name: test lint
        run: make test-lint
      - name: test types
        run: make test-types
      - name: test licenses
        run: make test-license
      - name: test classifier
        run: cd opentutor_classifier && make test
      - name: test classifier api
        run: cd opentutor_classifier_api && make test
  publish-check:
    name: publish check
    needs:
      - test
    runs-on: ubuntu-latest
    outputs:
      is_release: ${{ steps.is_release.outputs.is_release }}
    steps:
      - id: is_release
        run: |
          if [[ ${{ github.event.ref }} =~ ^refs/tags/[0-9]+\.[0-9]+\.[0-9]+(-[a-z0-9.]*)?$ ]]; then
              echo ::set-output name=is_release::true
          fi
  build-and-publish:
    name: build + push docker image
    runs-on: ubuntu-latest
    needs:
      - publish-check
      - test
    if: needs.publish-check.outputs.is_release || github.ref == 'refs/heads/main'
    steps:
      - uses: actions/checkout@v2
      - name: docker tag
        id: tag
        run: |
          IMAGE_TAG=${GITHUB_SHA}
          echo ::set-output name=image_tag::${IMAGE_TAG}
      - name: docker login
        run: docker login -u ${{ secrets.DOCKER_LOGIN }} -p ${{ secrets.DOCKER_PASSWORD }}
      - name: docker build classifier
        run: cd opentutor_classifier && DOCKER_IMAGE=uscictdocker/opentutor-classifier:${{ steps.tag.outputs.image_tag }} make docker-build
      - name: docker build api
        run: cd opentutor_classifier_api && DOCKER_IMAGE=uscictdocker/opentutor-classifier-api:${{ steps.tag.outputs.image_tag }} make docker-build
      - name: docker tag release as version
        if: needs.publish-check.outputs.is_release == 'true'
        run: |
          docker tag "uscictdocker/opentutor-classifier:${{ steps.tag.outputs.image_tag }}" "uscictdocker/opentutor-classifier:${GITHUB_REF#refs/tags/}"
          docker tag "uscictdocker/opentutor-classifier-api:${{ steps.tag.outputs.image_tag }}" "uscictdocker/opentutor-classifier-api:${GITHUB_REF#refs/tags/}"
      - name: docker tag main as latest
        if: github.ref == 'refs/heads/main'
        run: |
          docker tag "uscictdocker/opentutor-classifier:${{ steps.tag.outputs.image_tag }}" "uscictdocker/opentutor-classifier:latest"
          docker tag "uscictdocker/opentutor-classifier-api:${{ steps.tag.outputs.image_tag }}" "uscictdocker/opentutor-classifier-api:latest"
      - name: docker push classifier
        run: docker push --all-tags uscictdocker/opentutor-classifier
      - name: docker push api
        run: docker push --all-tags uscictdocker/opentutor-classifier-api
